.node-selected, .node-selected > .danger {
    color:#FFFFFF;
    background-color:#428bca!important;
}

.pointer {
    cursor: pointer;
}

.search-result:hover {
    background-color: #f5f5f5;
}
.highcharts-credits {
    display: none;
}

.highcharts-label > text {
    font-size: 14px!important;
}