{% extends 'common.twig' %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading text-center">Manage accounts</div>
        <div class="panel-body">
            <table class="table table-bordered table-striped table-hover" id="accounts-table">
                <thead> <tr> <th>#</th> <th>Login</th> <th>Password</th></tr> </thead>
                <tbody>
                {% for a in accounts %}
                    <tr data-nodeid="{{ a }}" class="pointer">
                        <th>{{ loop.index }}</th>
                        <td id="table-account-login">{{ a }}</td>
                        <td>
                            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#edit-account-dialog" id="button-change-password">Change password</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Edit account dialog -->
    <div class="modal fade" id="edit-account-dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align:center!important;">
                <form method="post" action="{{ path('manage_change_password') }}" accept-charset="utf-8" class="form-horizontal">
                    <input type="hidden" id="_method" name="_method" value="PUT" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="height: 10px;">Change password</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Login</label>
                            <div class="col-sm-9">
                                <input required readonly type="text" class="form-control" name="login" id="edit-account-login">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">New password:</label>
                            <div class="col-sm-9">
                                <input type="password" name="password" class="form-control" placeholder="Password" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Retype password:</label>
                            <div class="col-sm-9">
                                <input type="password" name="password2" class="form-control" placeholder="Passworg again" required/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align:center!important;">
                        <button id="account-edit-submit" type="submit" class="btn btn-primary">Change</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Edit account dialog -->



{% endblock %}