{% extends 'common.twig' %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-5 panel panel-default ">
                <h1 class="text-center">{{ 'Sign in' }}</h1>
                <form action="{{ path('secured_login_check') }}" method="post">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Username" required/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required/>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </div>
                </form>
            </div>
            <div class="col-xs-1 text-center" style="padding-top:15%">OR</div>
            <div class="col-xs-5 panel panel-default ">
                <h1 class="text-center">{{ 'Sign up as a host' }}</h1>

                <form action="{{ path('signup') }}" method="post">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="_username" value="" class="form-control" placeholder="Username" required/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required/>
                    </div>
                    <div class="form-group">
                        <label for="password2">Retype password:</label>
                        <input type="password" id="password2" name="_password2" class="form-control" placeholder="Passworg again" required/>
                    </div>
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="robotcheckbox" name="_robotcheckbox" required>I am not a robot
                        </label>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-default">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}