{% extends 'common.twig' %}
{% block content %}
    <div class="container" >
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body" style="padding-top: 0px !important;">

                    <div class="row">
                        <div class="col-sm-2 text-center"  style="padding-right:0px;">
                            <img width="180px" height="180px" style="margin-top:15px;" class="img-thumbnail" src="{% if hotel['picture'] is null %}/img/hotels/placeholder.png{% else %}{{ hotel['picture'] }}{% endif %}">
                        </div>
                        <div class="col-sm-10">
                            <div class="row text-center">
                                <h2>Reservation: {{ hotel['name'] }}  {% if reservation['isCanceled'] %}<span class="label label-danger">CANCELED</span>{% endif %} </h2>
                                <h4>{{ reservation['checkInDate'] }} - {{ reservation['checkOutDate'] }}</h4>
                                <h4>Please save your email <span class="label label-primary">{{ reservation['reserverEmail'] }}</span> and PIN code: <span class="label label-primary">{{ reservation['PIN'] }}</span></h4>
                                <h4>You may always return to this page by clicking 'My booking' at the home page.</h4>
                            </div>
                            <div>{{ hotel['description'] }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center"  style="">
                            {% if roomtypes|length <1 %}
                                <h4>Whoops...no free rooms left!</h4>
                                <h4>Somebody booked it faster than you :(</h4>
                            {% else %}
                            <h4 style="margin-top: 10px !important;">Selected room types:</h4>
                            <form action="{{ path('change_booking') }}" method="post" accept-charset="utf-8" class="form-horizontal">
                                <input type="hidden" id="_method" name="_method" value="PUT" />
                                <table class="table table-bordered table-striped table-hover" >
                                    <thead> <tr> <th>#</th> <th>Room type</th> <th>Description</th> <th>Price per night</th> <th>Count</th></tr> </thead>
                                    <tbody>
                                    {% for r in roomtypes %}
                                        <tr>
                                            <th>{{ loop.index }}</th>
                                            <td>{{ r['roomTypeName'] }}<input type="hidden" value="{{ r['roomTypeName'] }}" name="roomtypename[]"></td>
                                            <td>{{ r['description'] }}</td>
                                            <td>${{ r['price'] }}</td>
                                            <td><select name="count[]" id="roomtype_count_{{ loop.index }}" class="reserve-changeable"  {% if reservation['isCanceled'] %}{{ 'disabled' }}{% endif %} >
                                                    {% set selectedNumber = 0 %}
                                                    {% for roomReserved in roomReservations if roomReserved['roomTypeName'] == r['roomTypeName'] %}
                                                        {% set selectedNumber = roomReserved['amount'] %}
                                                    {% endfor %}
                                                    {% for s in 0..r['count']+selectedNumber  %}
                                                        <option value="{{ loop.index0 }}" {% if loop.index0 == selectedNumber %}{{ ' selected ' }}{% endif %}>{{ loop.index0 }}</option>
                                                    {% endfor %}
                                                </select></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Your e-mail</label>
                                        <div class="col-sm-5 input-group">
                                            <span class="input-group-addon">@</span>
                                            <input required type="email" class="form-control reserve-changeable" name="email"  {% if reservation['isCanceled'] %}{{ 'disabled' }}{% endif %} placeholder="login@example.com" value="{{ reservation['reserverEmail'] }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Your phone number</label>
                                        <div class="col-sm-5 input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span></span>
                                            <input required type="tel" class="form-control reserve-changeable" {% if reservation['isCanceled'] %}{{ 'disabled' }}{% endif %} name="phone" placeholder="+x-xxx-xxx-xxx-xx" value="{{ reservation['reserverPhoneNumber'] }}">
                                        </div>
                                    </div>
                                    <input type="hidden" name="checkindate" value="{{ reservation['checkInDate'] }}">
                                    <input type="hidden" name="checkoutdate" value="{{ reservation['checkOutDate'] }}">
                                    <input type="hidden" name="hotelid" value="{{ hotel['id'] }}">
                                    <input type="hidden" name="reservationid" value="{{ reservation['reservationID'] }}">
                                    <input type="hidden" name="oldemail" value="{{ reservation['reserverEmail'] }}">
                                    <input type="hidden" name="pin" value="{{ reservation['PIN'] }}">
                                </div>
                                <div class="form-group">
                                    {% if not reservation['isCanceled'] %}
                                        <div class="alert alert-danger hidden" id="reserve_alert">Please select at least one room! If you want to cancel your booking, please press 'Cancel' button.</div>
                                        <button type="submit" class="btn btn-primary" id="reserve_button">Change reservation</button>
                                        <button onclick="return false;" class="btn btn-danger" data-toggle="modal" data-target="#delete-booking-dialog" id="delete-booking-btn">Cancel</button>
                                    {% endif %}
                                </div>
                            </form>
                            {%  endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Remove booking dialog -->
    <div class="modal fade" id="delete-booking-dialog" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="text-align:center!important;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="height: 10px;">Cancellation</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want to cancel your booking?</p>
                </div>
                <div class="modal-footer" style="text-align:center!important;">
                    <form method="post" action="{{ path('cancel_booking') }}" accept-charset="utf-8">
                        <input type="hidden" id="_method" name="_method" value="DELETE" />
                        <input type="hidden" name="reservationid" value="{{ reservation['reservationID'] }}">
                        <input type="hidden" name="email" value="{{ reservation['reserverEmail'] }}">
                        <input type="hidden" name="pin" value="{{ reservation['PIN'] }}">
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Remove booking dialog -->
    <script>
        $(document).ready(function() {
            $("#reserve_button").click(function(e) {
                for(var i = 1; i <= {{ roomtypes|length }}; i++) {
                    if ($("#roomtype_count_"+i+" option:selected").val() != 0) {
                        $("#reserve_alert").addClass("hidden");
                        return true;
                    }
                }
                $("#reserve_alert").removeClass("hidden");
                return false;
            });
            $("#reserve_button").hide();

            $(".reserve-changeable").keypress(function() {
                $("#reserve_button").fadeIn();
            });
            $(".reserve-changeable").change(function() {
                $("#reserve_button").fadeIn();
            });
        });
    </script>
{% endblock %}