<!doctype html>
<!--[if lt IE 7]>   <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>      <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>      <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>   <!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    {% set active = active|default(null) %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ 'Hotel management system' }}</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ global.request.basepath }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ global.request.basepath }}/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ global.request.basepath }}/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="{{ global.request.basepath }}/css/style.css">
    <script type="text/javascript" src="{{ global.request.basepath }}/js/jquery.js"></script>
    <script type="text/javascript" src="{{ global.request.basepath }}/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ global.request.basepath }}/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="{{ global.request.basepath }}/js/bootstrap3-typeahead.js"></script>
    <script type="text/javascript" src="{{ global.request.basepath }}/js/main.js"></script>
    <script type="text/javascript" src="{{ global.request.basepath }}/js/highcharts.js"></script>
</head>
<body>
<div class="navbar navbar-default">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('main') }}">{{ 'HMS' }}</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    {% if is_granted('ROLE_MANAGER') %}
                        <li><a href="{{ path('manager') }}">Dashboard</a></li>
                        <li><a href="{{ path('manage_hotels') }}">Hotels</a></li>
                        <li><a href="{{ path('manage_rooms') }}">Rooms</a></li>
                        <li><a href="{{ path('manage_roomtypes') }}">Room types</a></li>
                        <li><a href="{{ path('manage_reservations') }}">Reservations</a></li>
                        <li><a href="{{ path('manage_accounts') }}">Accounts</a></li>
                        <li {% if 'employees' == active %} class="active" {% endif %}><a href="{{ path('manage_employees') }}">Employees</a></li>
                    {% elseif is_granted('ROLE_RECEPTIONIST')%}
                        <li><a href="{{ path('reception') }}">Dashboard</a></li>
                        <li><a href="{{ path('reception_reservations') }}">Reservations</a></li>
                    {% elseif is_granted('ROLE_ADMIN')%}
                        <li><a href="{{ path('admin_statistics') }}">Statistics</a></li>
                        <li><a href="{{ path('admin_performance') }}">Performance</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--li><a href="#"><span class="glyphicon glyphicon-user"></span> Become a host</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Contacts</a></li-->
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if is_granted('ROLE_MANAGER') and managedhotels is defined and hotelid is defined and managedhotels is not null and managedhotels|length > 0 and hotelid is not null %}
                            <li><strong><p class="navbar-text">Selected: </p></strong></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    {% for h in managedhotels %}
                                        {% if h['id'] == hotelid %}
                                            {{ h['name'][:5] }}
                                        {%  endif %}
                                    {% endfor %}
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% for h in managedhotels %}
                                        <li><a href="{{ path('change_hotel') }}?id={{ h['id'] }}">{{ h['name'] }} </a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                            <li><strong><p class="navbar-text">Logged as: </p></strong></li>
                            <li><a>{{ global.user }}</a></li>
                        <li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                    {% else %}
                        <li><a data-toggle="modal" data-target="#view-booking-dialog" href="#"><span class="glyphicon glyphicon-eye-open"></span> My booking</a></li>
                        <li><a href="{{ path('login') }}"><span class="glyphicon glyphicon-log-in"></span> Sign in or sign up</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div id="main" role="main" class="container">
    {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
    {% set alertClasses = {error : 'danger'} %}
    {% for alert in alertTypeAvaillable %}
        {% for message in app.session.getFlashBag.get(alert) %}
            {% set class = alert %}
            {% if alert == 'error' %}
                {% set class = 'danger' %}
            {% endif %}
            <div class="alert alert-{{ class }} fade in" >
                <button class="close" data-dismiss="alert" aria-label="close">×</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block content %}
    {% endblock %}
</div>

<!-- View booking dialog -->
<div class="modal fade" id="view-booking-dialog" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="text-align:center!important;">
            <form method="post" action="{{ path('bookinginfo') }}" accept-charset="utf-8" class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="height: 10px;">My booking</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-2">E-mail</label>
                        <div class="col-sm-10">
                            <input required type="email" class="form-control" name="email" placeholder="login@example.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">PIN</label>
                        <div class="col-sm-10">
                            <input required type="password" class="form-control" name="pin" placeholder="*****">
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="text-align:center!important;">
                    <button type="submit" class="btn btn-primary">Show</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /View booking dialog -->
</body>
</html>
