{% extends 'common.twig' %}
{% set active = 'employees' %}
{% block content %}
    <script>
        var employees = {
            {% for e in employees %}
                {{ e['id'] }} : { 'id' : {{ e['id'] }}, 'firstname' : "{{ e['firstName']|url_encode(true) }}", 'lastname' : "{{ e['lastName']|url_encode(true) }}",'middlename' : "{{ e['middleName']|url_encode(true) }}", 'salary' : {{ e['salary']}}, 'post' : "{{ e['position']|url_encode(true) }}" },
            {% endfor %}
        };
    </script>
    <div class="panel panel-default">
        <div class="panel-heading text-center">Manage employees</div>
        <div class="panel-body">
            <table class="table table-bordered table-striped table-hover" id="employees-table">
                <thead> <tr> <th>#</th> <th>Name</th> <th>Salary</th> <th>Position</th></tr> </thead>
                <tbody>
                {% for s in employees %}
                    <tr data-nodeid="{{ s['id'] }}" class="pointer">
                        <th>{{ loop.index }}</th>
                        <td>{{ s['firstName'] }} {{ s['lastName'] }} {{ s['middleName'] }}</td>
                        <td>{{ s['salary'] }}</td>
                        <td>{{ s['position']}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
            <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#add-employee-dialog">Add</button>
            <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#edit-employee-dialog" id="edit-employee-btn" disabled="disabled" >Edit</button>
            <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#delete-employee-dialog" id="delete-employee-btn" disabled="disabled" >Delete</button>
            </div>
        </div>
    </div>

    <!-- Add employee dialog -->
    <div class="modal fade" id="add-employee-dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align:center!important;">
                <form method="post" action="{{ path('manage_add_employee') }}" accept-charset="utf-8" class="form-horizontal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="height: 10px;">Adding a new employee</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3">First name</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control" name="firstname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Last name</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control" name="lastname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Middle name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="middlename">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Salary</label>
                            <div class="col-sm-9">
                                <input required type="number" min="1000" class="form-control" name="salary" value="1000">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Position</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control" name="post">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align:center!important;">
                        <button type="submit" class="btn btn-primary">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Add employee dialog -->

    <!-- Edit employee dialog -->
    <div class="modal fade" id="edit-employee-dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align:center!important;">
                <form method="post" action="{{ path('manage_edit_employee') }}" accept-charset="utf-8" class="form-horizontal">
                    <input type="hidden" id="_method" name="_method" value="PUT" />
                    <input type="hidden" name="id" id="edit-employee-id" value="-1">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="height: 10px;">Editing an employee</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3">First name</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control" name="firstname" id="edit-employee-firstname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Last name</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control" name="lastname" id="edit-employee-lastname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Middle name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="middlename" id="edit-employee-middlename">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Salary</label>
                            <div class="col-sm-9">
                                <input required type="number" min="1000" class="form-control" name="salary" id="edit-employee-salary">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Position</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control" name="post" id="edit-employee-post">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align:center!important;">
                        <button type="submit" class="btn btn-primary">Edit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Edit employee dialog -->

    <!-- Remove employee dialog -->
    <div class="modal fade" id="delete-employee-dialog" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="text-align:center!important;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="height: 10px;">&nbsp;</h4>
                </div>
                <div class="modal-body">
                    <p>{{ 'Do you really want to delete employee "%s"?'|format('<span id="delete-employee-name"></span>')|raw }}</p>
                </div>
                <div class="modal-footer" style="text-align:center!important;">
                    <form method="post" action="{{ path('manage_delete_employee') }}" accept-charset="utf-8">
                        <input type="hidden" id="_method" name="_method" value="DELETE" />
                        <input type="hidden" name="id" id="delete-employee-id" value="-1">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Remove employee dialog -->
{% endblock %}