{% extends 'common.twig' %}
{% block content %}
    <div class="container" >
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body" style="padding-top: 0px !important;">
                    <div class="row">
                        <div class="col-sm-2 text-center"  style="padding-right:0px;">
                            <img width="180px" height="180px" style="margin-top:15px;" class="img-thumbnail" src="{% if hotel['picture'] is null %}/img/hotels/placeholder.png{% else %}{{ hotel['picture'] }}{% endif %}">
                        </div>
                        <div class="col-sm-10">
                            <h3 style="margin-top: 10px !important;">{{ hotel['name'] }}</h3>
                            <div>{{ hotel['description'] }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center"  style="">
                            {% if roomtypes|length <1 %}
                                <h4>Whoops...no free rooms left!</h4>
                                <h4>Somebody booked it faster than you :(</h4>
                            {% else %}
                            <h4 style="margin-top: 10px !important;">Available room types:</h4>
                            <form action="{{ path('reserve') }}" method="post" id="reserve_form"  accept-charset="utf-8" class="form-horizontal">
                                <table class="table table-bordered table-striped table-hover" >
                                    <thead> <tr> <th>#</th> <th>Room type</th> <th>Description</th> <th>Price per night</th> <th>Count</th></tr> </thead>
                                    <tbody>
                                    {% for r in roomtypes %}
                                        <tr>
                                            <th>{{ loop.index }}</th>
                                            <td>{{ r['roomTypeName'] }}<input type="hidden" value="{{ r['roomTypeName'] }}" name="roomtypename[]"></td>
                                            <td>{{ r['description'] }}</td>
                                            <td>${{ r['price'] }}</td>
                                            <td><select name="count[]" id="roomtype_count_{{ loop.index }}">
                                                    {% for s in 0..r['count']  %}
                                                        <option value="{{ loop.index0 }}" {% if loop.index0 == 0 %}{{ ' selected ' }}{% endif %}>{{ loop.index0 }}</option>
                                                    {% endfor %}
                                                </select></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Check-in date</label>
                                        <div class="col-sm-5">
                                            {{ checkInDate }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Check-out date</label>
                                        <div class="col-sm-5">
                                            {{ checkOutDate }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Your e-mail</label>
                                        <div class="col-sm-5">
                                            <input required type="email" class="form-control" name="email" placeholder="login@example.com">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Your phone number</label>
                                        <div class="col-sm-5">
                                            <input required type="tel" class="form-control" name="phone" placeholder="+x-xxx-xxx-xxx-xx">
                                        </div>
                                    </div>
                                    <input type="hidden" name="checkindate" value="{{ checkInDate }}">
                                    <input type="hidden" name="checkoutdate" value="{{ checkOutDate }}">
                                    <input type="hidden" name="hotelid" value="{{ hotel['id'] }}">
                                </div>
                                <div class="form-group">
                                    <div class="alert alert-danger hidden" id="reserve_alert">Please select at least one room!</div>
                                    <button type="submit" class="btn btn-primary" id="reserve_button">Reserve</button>
                                </div>
                            </form>
                            {%  endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#reserve_button").click(function(e) {
                for(var i = 1; i <= {{ roomtypes|length }}; i++) {
                    if ($("#roomtype_count_"+i+" option:selected").val() != 0) {
                        $("#reserve_alert").addClass("hidden");
                        return true;
                    }
                }
                $("#reserve_alert").removeClass("hidden");
                return false;
            });
        });
    </script>
{% endblock %}