{% extends 'common.twig' %}
{% block content %}
    <script>
        var destinations = [{{ destinations|raw }}];
        var hotels = {
        {% for h in hotels %}
        {{ h['id'] }} : {
            'id' : {{ h['id'] }},
            'name' : "{{ h['name']|url_encode(true) }}",
            'country' : {{ h['country'] }},
            'countryName' : "{{ h['countryName']|url_encode(true) }}",
            'state' : {{ h['state'] }},
            'stateName' : "{{ h['stateName']|url_encode(true) }}",
            'city' : {{ h['city'] }},
            'cityName' : "{{ h['cityName']|url_encode(true)}}",
            'longitude' :
                {% if h['longitude'] is null %}
                    0
                {% else %}
                    {{ h['longitude'] }}
                {% endif %},
            'latitude' :
                {% if h['latitude'] is null %}
                    0
                {% else %}
                    {{ h['latitude'] }}
                {% endif %},
            'budget' : {{ h['budget']}},
            'description' : "{{ h['description']|url_encode(true)}}"
            },
        {% endfor %}
        };
    </script>
    <div class="panel panel-default">
        <div class="panel-heading text-center">Manage hotels</div>
        <div class="panel-body">
            <table class="table table-bordered table-striped table-hover" id="hotel-table">
                <thead> <tr> <th>#</th> <th>Name</th> <th>Location</th> <th>Budget</th><th>Receptionist</th></tr> </thead>
                <tbody>
                {% for h in hotels %}
                    <tr data-nodeid="{{ h['id'] }}" class="pointer">
                        <th>{{ loop.index }}</th>
                        <td>{{ h['name'] }}</td>
                        <td>{{ h['cityName'] }}, {{ h['stateName'] }}, {{ h['countryName'] }}</td>
                        <td>{{ h['budget']}}</td>
                        <td>{{ h['receptionistLogin'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
                <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#add-hotel-dialog">Add</button>
                <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#edit-hotel-dialog" id="edit-hotel-btn" disabled="disabled" >Edit</button>
                <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#delete-hotel-dialog" id="delete-hotel-btn" disabled="disabled" >Delete</button>
            </div>
        </div>
    </div>

    <!-- Add hotel dialog -->
    <div class="modal fade" id="add-hotel-dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align:center!important;">
                <form method="post" action="{{ path('manage_add_hotel') }}" accept-charset="utf-8" class="form-horizontal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="height: 10px;">Adding a new hotel</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Name</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control" name="name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Location</label>
                            <div class="col-sm-9">
                                <input required autocomplete="off" type="text" name="location" value="" data-provide="typeahead" class="form-control typeahead-destination" id="add-hotel-location">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Longitude</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="longitude">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Latitude</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="latitude">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Budget</label>
                            <div class="col-sm-9">
                                <input required type="number" class="form-control" name="budget" value="0">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Description</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control" name="description">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align:center!important;">
                        <input required type="hidden" name="countryid" id="add-hotel-countryid">
                        <input required type="hidden" name="stateid" id="add-hotel-stateid">
                        <input required type="hidden" name="cityid" id="add-hotel-cityid">
                        <button id ="hotel-add-submit" type="submit" class="btn btn-primary">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Add hotel dialog -->

    <!-- Edit hotel dialog -->
    <div class="modal fade" id="edit-hotel-dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align:center!important;">
                <form method="post" action="{{ path('manage_edit_hotel') }}" accept-charset="utf-8" class="form-horizontal">
                    <input type="hidden" id="_method" name="_method" value="PUT" />
                    <input type="hidden" name="id" id="edit-hotel-id" value="-1">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="height: 10px;">Editing a hotel</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Name</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control" name="name" id="edit-hotel-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Location</label>
                            <div class="col-sm-9">
                                <input autocomplete="off" type="text" name="location" value="" data-provide="typeahead" class="form-control typeahead-destination" id="edit-hotel-location">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Longitude</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="longitude" id="edit-hotel-longitude">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Latitude</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="latitude" id="edit-hotel-latitude">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Budget</label>
                            <div class="col-sm-9">
                                <input required type="number" class="form-control" name="budget" id="edit-hotel-budget">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Description</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control" name="description" id="edit-hotel-description">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align:center!important;">
                        <input required type="hidden" name="countryid" id="edit-hotel-countryid">
                        <input required type="hidden" name="stateid" id="edit-hotel-stateid">
                        <input required type="hidden" name="cityid" id="edit-hotel-cityid">
                        <button id="hotel-edit-submit" type="submit" class="btn btn-primary">Edit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Edit hotel dialog -->

    <!-- Remove hotel dialog -->
    <div class="modal fade" id="delete-hotel-dialog" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="text-align:center!important;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="height: 10px;">&nbsp;</h4>
                </div>
                <div class="modal-body">
                    <p>{{ 'Do you really want to delete hotel "%s"?'|format('<span id="delete-hotel-name"></span>')|raw }}</p>
                </div>
                <div class="modal-footer" style="text-align:center!important;">
                    <form method="post" action="{{ path('manage_delete_hotel') }}" accept-charset="utf-8">
                        <input type="hidden" id="_method" name="_method" value="DELETE" />
                        <input type="hidden" name="id" id="delete-hotel-id" value="-1">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Remove hotel dialog -->

    <script type="text/javascript">
        $(document).ready(function() {
            $(".typeahead-destination").typeahead({minLength: 1, source:destinations})
        });
    </script>

{% endblock %}