{% extends 'common.twig' %}
{% block content %}

    <script>
        var destinations = [{{ destinations|raw }}];
    </script>
    <div class="container">
        <div class="row">
            <div class="col-xs-5 panel panel-default center-block" style="float:none;">
                <h1 class="text-center">{{ 'Book now' }}</h1>
                <form action="{{ path('search') }}" method="post" id="main_page_form">
                    <div class="form-group">
                        <label class="control-label col-sm-3">Destination:</label>
                        <div class="input-group col-sm-9">
                            <input required autocomplete="off" type="text" name="destination" value="" data-provide="typeahead" class="form-control typeahead-destination">
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    $(".typeahead-destination").typeahead({minLength: 1, source:destinations})
                                });
                            </script>
                        </div>
                    </div>
                    <div class="form-group form-inline input-daterange" data-provide="datepicker">
                        <label class="control-label col-sm-3">From</label>
                        <div class="input-group date col-sm-4" >
                            <input  required type="text" class="form-control datepicker" name="checkindate" value="{{ "now"|date_modify("+1 day")|date("Y-m-d") }}">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar pointer"></span>
                            </div>
                        </div>
                        <label class="control-label" style="padding-left:10px;"> to </label>
                        <div class="input-group date col-sm-4 pull-right">
                            <input  required type="text" class="form-control datepicker" name="checkoutdate" value="{{ "now"|date_modify("+7 day")|date("Y-m-d") }}">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar pointer"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input required type="hidden" name="countryid">
                        <input required type="hidden" name="stateid">
                        <input required type="hidden" name="cityid">
                        <button id="main_page_submit" type="submit" class="btn btn-primary">Search now</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}