{% extends 'common.twig' %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading text-center">Rooms availability</div>
        <div class="panel-body">
            <div id="container" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading text-center">Rooms info</div>
        <div class="panel-body">
            <table class="table table-bordered table-hover">
                <thead> <tr> <th>#</th> <th>Number</th> <th>Room type</th> <th>Status</th> <th>Guest name</th>
                    <th>Paid</th> <th>Canceled</th> <th>Check-in/Check-out</th></tr> </thead>
                <tbody>
                {% for r in rooms %}
                    <tr data-nodeid="{{ r['roomNumber'] }}" class="pointer
                        {% if r['status'] == 5 %}
                        {{ 'alert-warning' }}
                        {% elseif r['status'] == 6 %}
                        {{ 'alert-danger' }}
                        {% endif %}
                        ">
                        <th>{{ loop.index }}</th>
                        <td>{{ r['roomNumber'] }}</td>
                        <td>{{ r['roomTypeName'] }}</td>
                        <td>{{ statuses[r['status']] }}</td>
                        <td>
                            {% if r['status'] == 0 %}
                                {{ r['firstName'] }} {{ r['lastName'] }}
                            {% endif %}
                        </td>
                        <td>{% if r['status'] == 0 %}{% if r['isPaid'] == 0 %} {{ 'NO' }} {% else %} {{ 'YES' }} {% endif %}{% endif %}</td>
                        <td>{% if r['status'] == 0 %}{% if r['isCanceled'] == 0  or r['status'] == 0 %} {{ 'NO' }} {% else %} {{ 'YES' }} {% endif %}{% endif %}</td>
                        <td>
                            {% if r['status'] == 0 %}
                                {{ r['checkInDate'] }}
                                {% if r['checkInDate'] is not null %}
                                    {{ '/' }}
                                {% endif %}
                                {{ r['checkOutDate'] }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('#container').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: ''
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y} rooms ({point.percentage:.0f}%)',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                                size: 16
                            }
                        }
                    }
                },
                series: [{
                    name: 'Rooms',
                    colorByPoint: true,
                    data: [{
                        name: '{{ statuses[0] }}',
                        y: {{ roomstatuses[0] }},
                        color: '#90ed7d'
                    }, {
                        name: '{{ statuses[1] }}',
                        y: {{ roomstatuses[1] }},
                        color: 'orange'
                    }, {
                        name: '{{ statuses[2] }}',
                        y: {{ roomstatuses[2] }},
                        color: 'brown'
                    }, {
                        name: '{{ statuses[3] }}',
                        y: {{ roomstatuses[3] }},
                        color: 'blue'
                    }, {
                        name: '{{ statuses[4] }}',
                        y: {{ roomstatuses[4] }},
                        color: 'black'
                    }, {
                        name: '{{ statuses[5] }}',
                        y: {{ roomstatuses[5] }},
                        color: 'red'
                    }, {
                        name: '{{ statuses[6] }}',
                        y: {{ roomstatuses[6] }},
                        color: 'yellow'
                    }]
                }]
            });
        });
    </script>

{% endblock %}