{% extends 'common.twig' %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading text-center">Rooms availability</div>
        <div class="panel-body">
            <div id="container" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading text-center">Rooms info</div>
        <div class="panel-body">
            <table class="table table-bordered table-hover">
                <thead> <tr> <th>#</th> <th>Number</th> <th>Room type</th> <th>Status</th> <th>Guest name</th>
                    <th>Paid</th> <th>Canceled</th> <th>Check-in/Check-out</th></tr> </thead>
                <tbody>
                {% for r in rooms %}

                    <tr data-nodeid="{{ r['roomNumber'] }}" class="pointer
                        {% if r['status'] == 5 %}
                        {{ 'alert-warning' }}
                        {% elseif r['status'] == 6 %}
                        {{ 'alert-danger' }}
                        {% endif %}
                        ">
                        <th>{{ loop.index }}</th>
                        <td>{{ r['roomNumber'] }}</td>
                        <td>{{ r['roomTypeName'] }}</td>
                        <td>{{ statuses[r['status']] }}</td>
                        <td>
                            {% if r['status'] == 0 %}
                            {{ r['firstName'] }} {{ r['lastName'] }}
                            {% endif %}
                        </td>
                        <td>{% if r['status'] == 0 %}{% if r['isPaid'] == 0 %} {{ 'NO' }} {% else %} {{ 'YES' }} {% endif %}{% endif %}</td>
                        <td>{% if r['status'] == 0 %}{% if r['isCanceled'] == 0  or r['status'] == 0 %} {{ 'NO' }} {% else %} {{ 'YES' }} {% endif %}{% endif %}</td>
                        <td>
                            {% if r['status'] == 0 %}
                            {{ r['checkInDate'] }}
                            {% if r['checkInDate'] is not null %}
                            {{ '/' }}
                            {% endif %}
                            {{ r['checkOutDate'] }}
                            {% endif %}
                            {% if r['status'] == 0 %}
                            {{
                                '<button class="btn btn-danger btn-xs pull-right button-checkout" data-toggle="modal" data-target="#checkout-dialog">Check-out</button>'
                            }}
                            {% elseif r['status'] == 1 %}
                                {{ '<button class="btn btn-success btn-xs pull-right button-checkin" style="margin-left: 5px;"data-toggle="modal" data-target="#checkin-dialog">Check-in with reservation</button>' }}
                                {{ '<button class="btn btn-warning btn-xs pull-right button-checkin-nores" data-toggle="modal" data-target="#checkin-nores-dialog" ">Check-in without reservation</button>' }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Check-in dialog -->
    <div class="modal fade" id="checkin-dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align:center!important;">
                <form method="post" action="{{ path('reception_checkin') }}" accept-charset="utf-8" class="form-horizontal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="height: 10px;">Check-in with existing reservation</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Room number</label>
                            <div class="col-sm-9">
                                <input readonly type="number" class="form-control" name="roomnumber" id="checkin-roomnumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Reservation</label>
                            <div class="col-sm-9">
                                <select
                                        {% if reservations is not defined or reservations is null or reservations|length == 0 %}
                                            {{ 'readonly' }}
                                        {% endif %}
                                        required class="form-control" name="reservationid" id="reservation-id">
                                    {% if reservations is defined and reservations is not null and reservations|length > 0 %}
                                        {% for r in reservations %}
                                            <option value="{{ r['reservationID'] }}">{{ r['reserverEmail'] }} for {{ r['checkInDate'] }}/{{ r['checkOutDate'] }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">First name</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control" name="firstname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Last name</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control" name="lastname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Middle name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="middlename">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align:center!important;">
                        <button type="submit" class="btn btn-primary">Check-in</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Check-in dialog -->

    <!-- Check-in without reservation dialog -->
    <div class="modal fade" id="checkin-nores-dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align:center!important;">
                <form method="post" action="{{ path('reception_checkin_and_create_reservation') }}" accept-charset="utf-8" class="form-horizontal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="height: 10px;">Check-in without reservation</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Room number</label>
                            <div class="col-sm-9">
                                <input readonly type="number" class="form-control" name="roomnumber" id="checkin-nores-roomnumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">First name</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control" name="firstname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Last name</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control" name="lastname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Middle name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="middlename">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">E-mail</label>
                            <div class="col-sm-9">
                                <input required type="email" class="form-control" name="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Phone</label>
                            <div class="col-sm-9">
                                <input required type="tel" class="form-control" name="phone">
                            </div>
                        </div>
                        <div class="form-group form-inline input-daterange" data-provide="datepicker">
                            <label class="control-label col-sm-3">From</label>
                            <div class="input-group date col-sm-4" >
                                <input  required type="text" class="form-control datepicker" name="checkindate" value="{{ "now"|date_modify("+1 day")|date("Y-m-d") }}">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar pointer"></span>
                                </div>
                            </div>
                            <label class="control-label"> to </label>
                            <div class="input-group date col-sm-4">
                                <input  required type="text" class="form-control datepicker" name="checkoutdate" value="{{ "now"|date_modify("+7 day")|date("Y-m-d") }}">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar pointer"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Paid</label>
                            <div class="col-sm-9">
                                <input required type="checkbox" class="form-control" name="ispaid">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align:center!important;">
                        <button type="submit" class="btn btn-primary">Check-in</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Check-in without reservation dialog -->

    <!-- Remove hotel dialog -->
    <div class="modal fade" id="checkout-dialog" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="text-align:center!important;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="height: 10px;">&nbsp;</h4>
                </div>
                <div class="modal-body">
                    <p>{{ 'Do you really want to check-out from room "%s"?'|format('<span id="checkout-roomnumber-text"></span>')|raw }}</p>
                </div>
                <div class="modal-footer" style="text-align:center!important;">
                    <!-- TODO -->
                    <form method="post" action="{{ path('reception_checkout') }}" accept-charset="utf-8">
                        <input type="hidden" name="roomnumber" id="checkout-roomnumber" value="-1">
                        <button type="submit" class="btn btn-danger">Check-out</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Remove hotel dialog -->

    <script type="text/javascript">
        $(function () {
            $('#container').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: ''
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y} rooms ({point.percentage:.0f}%)',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                                size: 16
                            }
                        }
                    }
                },
                series: [{
                    name: 'Rooms',
                    colorByPoint: true,
                    data: [{
                        name: '{{ statuses[0] }}',
                        y: {{ roomstatuses[0] }},
                        color: '#90ed7d'
                    }, {
                        name: '{{ statuses[1] }}',
                        y: {{ roomstatuses[1] }},
                        color: 'orange'
                    }, {
                        name: '{{ statuses[2] }}',
                        y: {{ roomstatuses[2] }},
                        color: 'brown'
                    }, {
                        name: '{{ statuses[3] }}',
                        y: {{ roomstatuses[3] }},
                        color: 'blue'
                    }, {
                        name: '{{ statuses[4] }}',
                        y: {{ roomstatuses[4] }},
                        color: 'black'
                    }, {
                        name: '{{ statuses[5] }}',
                        y: {{ roomstatuses[5] }},
                        color: 'red'
                    }, {
                        name: '{{ statuses[6] }}',
                        y: {{ roomstatuses[6] }},
                        color: 'yellow'
                    }]
                }]
            });
        });
    </script>

{% endblock %}