{% extends 'common.twig' %}
{% block content %}
    {% set active = 'reception_reservations' %}
    {% set managermode = managermode|default(false) %}
    <script>
        var managermode = {% if managermode %}true{% else %}false{% endif %};
        var reservations = {
        {% for h in reservations %}
        {{ h['reservationID'] }} : {
            'id' : {{ h['reservationID'] }},
            'checkindate' : "{{ h['checkInDate']|url_encode(true) }}",
            'checkoutdate' : "{{ h['checkOutDate']|url_encode(true) }}",
            'email' : "{{ h['reserverEmail']|url_encode(true) }}",
            'phone' : "{{ h['reserverPhoneNumber']|url_encode(true) }}",
            'iscanceled' : {{ h['isCanceled'] }},
            'ispaid' : {{ h['isPaid'] }},
            'amount' : {{ h['amount'] }},
            'reservations' : {
                {% for rr in roomReservations if rr['reservationId'] == h['reservationID'] %}
                "{{ rr['roomTypeName']|url_encode(true) }}" : {
                    'amount' : {{ rr['amount'] }},
                },
                {% endfor %}
            }
        },
        {% endfor %}
        };
    </script>
    <div class="panel panel-default">
        <div class="panel-heading text-center">Reservations</div>
        <div class="panel-body">
            <table class="table table-bordered table-striped table-hover" id="reception-reservation-table">
                <thead> <tr> <th>#</th> <th>Check in date</th> <th>Check out date</th> <th>E-mail</th> <th>Phone</th> <th>Is cancelled</th> <th>Is paid</th> <th>Number of rooms</th></tr> </thead>
                <tbody>
                {% for h in reservations %}
                    <tr data-nodeid="{{ h['reservationID'] }}" class="pointer {% if h['isCanceled'] == 1 %}alert-danger{% endif %}">
                        <th>{{ loop.index }}</th>
                        <td>{{ h['checkInDate'] }}</td>
                        <td>{{ h['checkOutDate'] }}</td>
                        <td>{{ h['reserverEmail'] }}</td>
                        <td>{{ h['reserverPhoneNumber'] }}</td>
                        <td>{% if h['isCanceled'] == 1 %}Yes{% else %}No{% endif %}</td>
                        <td>{% if h['isPaid'] == 1 %}Yes{% else %}No{% endif %}</td>
                        <td>{{ h['amount'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if not managermode %}
            <div class="text-center">
                <button class="btn btn-default" data-toggle="modal" data-target="#add-reception-reservation-dialog">Add</button>
                <button class="btn btn-default" data-toggle="modal" data-target="#edit-reception-reservation-dialog" id="edit-reception-reservation-btn" disabled="disabled" >Edit</button>
                <button class="btn btn-danger" data-toggle="modal" data-target="#delete-reception-reservation-dialog" id="delete-reception-reservation-btn" disabled="disabled" >Cancel</button>
            </div>
            {% endif %}
        </div>
    </div>

    {% if managermode %}
        <div class="modal fade" id="edit-reception-reservation-dialog" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content" style="text-align:center!important;">
                    <form method="post" action="{{ path('reception_edit_reservation') }}" accept-charset="utf-8" class="form-horizontal">
                        <input type="hidden" id="_method" name="_method" value="PUT" />
                        <input type="hidden" name="id" id="edit-reception-reservation-id" value="-1">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="height: 10px;">Reservation details</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group form-inline input-daterange" data-provide="datepicker">
                                <label class="control-label col-sm-3">From</label>
                                <div class="input-group date col-sm-4" >
                                    <input  required disabled type="text" class="form-control datepicker" name="checkindate" value="{{ "now"|date_modify("+1 day")|date("Y-m-d") }}" id="edit-reception-reservation-checkindate">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar pointer"></span>
                                    </div>
                                </div>
                                <label class="control-label" style=""> to </label>
                                <div class="input-group date col-sm-4">
                                    <input  required disabled type="text" class="form-control datepicker" name="checkoutdate" value="{{ "now"|date_modify("+7 day")|date("Y-m-d") }}" id="edit-reception-reservation-checkout date">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar pointer"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Is paid</label>
                                <div class="col-sm-9">
                                    <input disabled type="checkbox" class="form-control" name="ispaid" id="edit-reception-reservation-ispaid">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">E-mail</label>
                                <div class="col-sm-9">
                                    <input disabled required type="email" class="form-control" name="email" placeholder="login@example.com" id="edit-reception-reservation-email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Phone number</label>
                                <div class="col-sm-9">
                                    <input disabled required type="text" class="form-control" name="phone" placeholder="+x-xxx-xxx-xx-xx" id="edit-reception-reservation-phone">
                                </div>
                            </div>
                            <table class="table table-bordered table-striped table-hover" >
                                <thead> <tr> <th>#</th> <th>Room type</th> <th>Description</th> <th>Price per night</th> <th>Count</th></tr> </thead>
                                <tbody>
                                {% for r in roomtypes %}
                                    <tr>
                                        <th>{{ loop.index }}</th>
                                        <td>{{ r['roomTypeName'] }}<input type="hidden" value="{{ r['roomTypeName'] }}" name="roomtypename[]"></td>
                                        <td>{{ r['description'] }}</td>
                                        <td>${{ r['price'] }}</td>
                                        <td><select readonly disabled name="count[]" id="edit-reception-reservation-room-{{ loop.index }}">
                                                {% for s in 0..r['count']  %}
                                                    <option value="{{ loop.index0 }}" {% if loop.index0 == 0 %}{{ ' selected ' }}{% endif %}>{{ loop.index0 }}</option>
                                                {% endfor %}
                                            </select></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer" style="text-align:center!important;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% else %}

    <!-- Add reception-reservation dialog -->
    <div class="modal fade" id="add-reception-reservation-dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align:center!important;">
                <form method="post" action="{{ path('reception_add_reservation') }}" accept-charset="utf-8" class="form-horizontal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="height: 10px;">Adding a new reservation</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group form-inline input-daterange" data-provide="datepicker">
                            <label class="control-label col-sm-3">From</label>
                            <div class="input-group date col-sm-4" >
                                <input  required type="text" class="form-control datepicker" name="checkindate" value="{{ "now"|date_modify("+1 day")|date("Y-m-d") }}">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar pointer"></span>
                                </div>
                            </div>
                            <label class="control-label" style=""> to </label>
                            <div class="input-group date col-sm-4">
                                <input  required type="text" class="form-control datepicker" name="checkoutdate" value="{{ "now"|date_modify("+7 day")|date("Y-m-d") }}">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar pointer"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Is paid</label>
                            <div class="col-sm-9">
                                <input type="checkbox" class="form-control" name="ispaid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">E-mail</label>
                            <div class="col-sm-9">
                                <input required type="email" class="form-control" name="email" placeholder="login@example.com">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Phone number</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control" name="phone" placeholder="+x-xxx-xxx-xx-xx">
                            </div>
                        </div>
                        <table class="table table-bordered table-striped table-hover" >
                            <thead> <tr> <th>#</th> <th>Room type</th> <th>Description</th> <th>Price per night</th> <th>Count</th></tr> </thead>
                            <tbody>
                            {% for r in roomtypes %}
                                <tr>
                                    <th>{{ loop.index }}</th>
                                    <td>{{ r['roomTypeName'] }}<input type="hidden" value="{{ r['roomTypeName'] }}" name="roomtypename[]"></td>
                                    <td>{{ r['description'] }}</td>
                                    <td>${{ r['price'] }}</td>
                                    <td><select name="count[]" id="roomtype_count_{{ loop.index }}">
                                            {% for s in 0..r['count']  %}
                                                <option value="{{ loop.index0 }}" {% if loop.index0 == 0 %}{{ ' selected ' }}{% endif %}>{{ loop.index0 }}</option>
                                            {% endfor %}
                                        </select></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer" style="text-align:center!important;">
                        <div class="alert alert-danger hidden" id="reserve_alert1">Please select at least one room!</div>
                        <button id ="add-reception-reservation-submit" type="submit" class="btn btn-primary">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Add reception-reservation dialog -->

    <!-- Edit reception-reservation dialog -->
    <div class="modal fade" id="edit-reception-reservation-dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align:center!important;">
                <form method="post" action="{{ path('reception_edit_reservation') }}" accept-charset="utf-8" class="form-horizontal">
                    <input type="hidden" id="_method" name="_method" value="PUT" />
                    <input type="hidden" name="id" id="edit-reception-reservation-id" value="-1">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="height: 10px;">Editing a reservation</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group form-inline input-daterange" data-provide="datepicker">
                            <label class="control-label col-sm-3">From</label>
                            <div class="input-group date col-sm-4" >
                                <input  required disabled type="text" class="form-control datepicker" name="checkindate" value="{{ "now"|date_modify("+1 day")|date("Y-m-d") }}" id="edit-reception-reservation-checkindate">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar pointer"></span>
                                </div>
                            </div>
                            <label class="control-label" style=""> to </label>
                            <div class="input-group date col-sm-4">
                                <input  required disabled type="text" class="form-control datepicker" name="checkoutdate" value="{{ "now"|date_modify("+7 day")|date("Y-m-d") }}" id="edit-reception-reservation-checkout date">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar pointer"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Is paid</label>
                            <div class="col-sm-9">
                                <input type="checkbox" class="form-control" name="ispaid" id="edit-reception-reservation-ispaid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">E-mail</label>
                            <div class="col-sm-9">
                                <input required type="email" class="form-control" name="email" placeholder="login@example.com" id="edit-reception-reservation-email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Phone number</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control" name="phone" placeholder="+x-xxx-xxx-xx-xx" id="edit-reception-reservation-phone">
                            </div>
                        </div>
                        <table class="table table-bordered table-striped table-hover" >
                            <thead> <tr> <th>#</th> <th>Room type</th> <th>Description</th> <th>Price per night</th> <th>Count</th></tr> </thead>
                            <tbody>
                            {% for r in roomtypes %}
                                <tr>
                                    <th>{{ loop.index }}</th>
                                    <td>{{ r['roomTypeName'] }}<input type="hidden" value="{{ r['roomTypeName'] }}" name="roomtypename[]"></td>
                                    <td>{{ r['description'] }}</td>
                                    <td>${{ r['price'] }}</td>
                                    <td><select name="count[]" id="edit-reception-reservation-room-{{ loop.index }}">
                                            {% for s in 0..r['count']  %}
                                                <option value="{{ loop.index0 }}" {% if loop.index0 == 0 %}{{ ' selected ' }}{% endif %}>{{ loop.index0 }}</option>
                                            {% endfor %}
                                        </select></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer" style="text-align:center!important;">
                        <div class="alert alert-danger hidden" id="reserve_alert2">Please select at least one room!</div>
                        <button id="reception-reservation-edit-submit" type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Edit reception-reservation dialog -->

    <!-- Cancel reception-reservation dialog -->
    <div class="modal fade" id="delete-reception-reservation-dialog" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="text-align:center!important;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="height: 10px;">&nbsp;</h4>
                </div>
                <div class="modal-body">
                    <p>{{ 'Do you really want to cancel the reservation for "%s"?'|format('<span id="delete-reception-reservation-name"></span>')|raw }}</p>
                </div>
                <div class="modal-footer" style="text-align:center!important;">
                    <form method="post" action="{{ path('reception_cancel_reservation') }}" accept-charset="utf-8">
                        <input type="hidden" id="_method" name="_method" value="DELETE" />
                        <input type="hidden" name="id" id="delete-reception-reservation-id" value="-1">
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Cancel reception-reservation dialog -->
    {% endif %}
    <script>
        $(document).ready(function() {
            $("#add-reception-reservation-submit").click(function(e) {
                for(var i = 1; i <= {{ roomtypes|length }}; i++) {
                    if ($("#roomtype_count_"+i+" option:selected").val() != 0) {
                        $("#reserve_alert1").addClass("hidden");
                        return true;
                    }
                }
                $("#reserve_alert1").removeClass("hidden");
                return false;
            });
            $("#reception-reservation-edit-submit").click(function(e) {
                for(var i = 1; i <= {{ roomtypes|length }}; i++) {
                    if ($("#edit-reception-reservation-room-"+i+" option:selected").val() != 0) {
                        $("#reserve_alert1").addClass("hidden");
                        return true;
                    }
                }
                $("#reserve_alert1").removeClass("hidden");
                return false;
            });
            $("#reception-reservation-table > tbody > tr").click(function(e) {
                $("#reception-reservation-table > tbody > tr").removeClass("node-selected");
                var object = e.target;
                if (object.nodeName == "TD" ||object.nodeName == "TH" )
                    object = $(object.parentElement);
                else
                    object = $(object);
                object.addClass("node-selected");
                var id = object.data("nodeid");
                if (id == undefined)
                    alert("Undefined index! object: "+object);
                var name = object.children()[1].innerText;

                $("#edit-reception-reservation-id").val(id);
                $("#edit-reception-reservation-btn").removeAttr("disabled");
                $("#delete-reception-reservation-btn").removeAttr("disabled");
                $("#delete-reception-reservation-name").text(object.children()[1].innerText+"-"+object.children()[2].innerText+", "+object.children()[3].innerText);
                $("#delete-reception-reservation-id").val(id);
                if (managermode)
                    $("#edit-reception-reservation-dialog").modal('show');
            });
            $("#edit-reception-reservation-dialog").on('show.bs.modal', function () {
                var sel = $('#reception-reservation-table > tbody > tr.node-selected');
                if (sel.length == 0)
                    return;

                var id = $("#edit-reception-reservation-id").val();
                $("#edit-reception-reservation-email").val(decodeURIComponent(reservations[id]['email']));
                $("#edit-reception-reservation-phone").val(decodeURIComponent(reservations[id]['phone']));
                $("#edit-reception-reservation-checkindate").val(decodeURIComponent(reservations[id]['checkindate']));
                $("#edit-reception-reservation-checkoutdate").val(decodeURIComponent(reservations[id]['checkoutdate']));
                $('#edit-reception-reservation-ispaid').prop('checked', reservations[id]['ispaid'] == 1);
                {% for r in roomtypes %}
                if (encodeURIComponent("{{ r['roomTypeName'] }}") in reservations[id]['reservations']) {
                    $('#edit-reception-reservation-room-{{ loop.index }}').val(reservations[id]['reservations'][encodeURIComponent("{{ r['roomTypeName'] }}")]['amount']);
                }
                else
                    $('#edit-reception-reservation-room-{{ loop.index }}').val(0);
                {% endfor %}
            });
        });
    </script>

{% endblock %}