{% extends 'common.twig' %}
{% block content %}
    <script>
        var roomtypes = {
        {% for rt in roomtypes %}
        "{{ rt['roomTypeName']|url_encode(true) }}" : {
            'name' : "{{ rt['roomTypeName']|url_encode(true) }}",
            'price' : {{ rt['price']}},
            'description' : "{{ rt['description']|url_encode(true)}}"
        },
        {% endfor %}
        };
    </script>
    <div class="panel panel-default">
        <div class="panel-heading text-center">Manage room types</div>
        <div class="panel-body">
            <table class="table table-bordered table-striped table-hover" id="roomtype-table">
                <thead> <tr> <th>#</th> <th>Name</th> <th>Price</th> <th>Description</th></tr> </thead>
                <tbody>
                {% for rt in roomtypes %}
                    <tr data-nodeid="{{ rt['roomTypeName'] }}" class="pointer">
                        <th>{{ loop.index }}</th>
                        <td>{{ rt['roomTypeName'] }}</td>
                        <td>{{ rt['price'] }}</td>
                        <td>{{ rt['description']}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
                <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#add-roomtype-dialog">Add</button>
                <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#edit-roomtype-dialog" id="edit-roomtype-btn" disabled="disabled" >Edit</button>
                <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#delete-roomtype-dialog" id="delete-roomtype-btn" disabled="disabled" >Delete</button>
            </div>
        </div>
    </div>

    <!-- Add roomtype dialog -->
    <div class="modal fade" id="add-roomtype-dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align:center!important;">
                <form method="post" action="{{ path('manage_add_roomtype') }}" accept-charset="utf-8" class="form-horizontal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="height: 10px;">Adding a new room type</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Name</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control" name="name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Price</label>
                            <div class="col-sm-9">
                                <input required type="number" class="form-control" name="price" value="0">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Description</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control" name="description">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align:center!important;">
                        <button id ="roomtype-add-submit" type="submit" class="btn btn-primary">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Add roomtype dialog -->

    <!-- Edit roomtype dialog -->
    <div class="modal fade" id="edit-roomtype-dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align:center!important;">
                <form method="post" action="{{ path('manage_edit_roomtype') }}" accept-charset="utf-8" class="form-horizontal">
                    <input type="hidden" id="_method" name="_method" value="PUT" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="height: 10px;">Editing a room type</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Name</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control" name="name" id="edit-roomtype-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Price</label>
                            <div class="col-sm-9">
                                <input required type="number" class="form-control" name="price" id="edit-roomtype-price">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Description</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control" name="description" id="edit-roomtype-description">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align:center!important;">
                        <input type="hidden" name="oldname" id="edit-roomtype-oldname">
                        <button id="roomtype-edit-submit" type="submit" class="btn btn-primary">Edit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Edit roomtype dialog -->

    <!-- Remove roomtype dialog -->
    <div class="modal fade" id="delete-roomtype-dialog" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="text-align:center!important;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="height: 10px;">&nbsp;</h4>
                </div>
                <div class="modal-body">
                    <p>{{ 'Do you really want to delete room type "%s"?'|format('<span id="delete-roomtype-name"></span>')|raw }}</p>
                </div>
                <div class="modal-footer" style="text-align:center!important;">
                    <form method="post" action="{{ path('manage_delete_roomtype') }}" accept-charset="utf-8">
                        <input type="hidden" id="_method" name="_method" value="DELETE" />
                        <input type="hidden" name="name" id="delete-roomtype-id">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Remove roomtype dialog -->

{% endblock %}