{% extends 'common.twig' %}
{% block content %}
    <script>
        var rooms = {
        {% for r in rooms %}
        {{ r['roomNumber'] }} : {
            'number' : {{ r['roomNumber'] }},
                    'type' : "{{ r['roomTypeName'|url_encode(true)]}}",
            'status' : {{ r['status']}}
        },
        {% endfor %}
        };
    </script>
    <div class="panel panel-default">
        <div class="panel-heading text-center">Manage rooms</div>
        <div class="panel-body">
            <table class="table table-bordered table-striped table-hover" id="room-table">
                <thead> <tr> <th>#</th> <th>Number</th> <th>Room type</th> <th>Status</th></tr> </thead>
                <tbody>
                {% for r in rooms %}
                    <tr data-nodeid="{{ r['roomNumber'] }}" class="pointer">
                        <th>{{ loop.index }}</th>
                        <td>{{ r['roomNumber'] }}</td>
                        <td>{{ r['roomTypeName'] }}</td>
                        <td>{{ statuses[r['status']] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
                <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#add-room-dialog">Add</button>
                <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#edit-room-dialog" id="edit-room-btn" disabled="disabled" >Edit</button>
                <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#delete-room-dialog" id="delete-room-btn" disabled="disabled" >Delete</button>
            </div>
        </div>
    </div>

    <!-- Add room dialog -->
    <div class="modal fade" id="add-room-dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align:center!important;">
                <form method="post" action="{{ path('manage_add_room') }}" accept-charset="utf-8" class="form-horizontal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="height: 10px;">Adding a new room</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Room number</label>
                            <div class="col-sm-9">
                                <input required type="number" class="form-control" name="number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Room type</label>
                            <div class="col-sm-9">
                                <select required class="form-control" name="type">
                                    {% if roomtypes is defined and roomtypes is not null and roomtypes|length > 0 %}
                                        {% for rt in roomtypes %}
                                            <option value="{{ rt['roomTypeName'] }}">{{ rt['roomTypeName'] }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Status</label>
                            <div class="col-sm-9">
                                <select required class="form-control" name="status">
                                    <option selected value="1">{{ statuses[1] }}</option>
                                    <option value="0">{{ statuses[0] }}</option>
                                    <option value="2">{{ statuses[2] }}</option>
                                    <option value="3">{{ statuses[3] }}</option>
                                    <option value="4">{{ statuses[4] }}</option>
                                    <option value="5">{{ statuses[5] }}</option>
                                    <option value="6">{{ statuses[6] }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align:center!important;">
                        <button id ="room-add-submit" type="submit" class="btn btn-primary">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Add room dialog -->

    <!-- Edit room dialog -->
    <div class="modal fade" id="edit-room-dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align:center!important;">
                <form method="post" action="{{ path('manage_edit_room') }}" accept-charset="utf-8" class="form-horizontal">
                    <input type="hidden" id="_method" name="_method" value="PUT" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="height: 10px;">Editing a room</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Room number</label>
                            <div class="col-sm-9">
                                <input required type="number" class="form-control" name="number" id="edit-room-number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Room type</label>
                            <div class="col-sm-9">
                                <select required class="form-control" name="type" id="edit-room-type">
                                    {% if roomtypes is defined and roomtypes is not null and roomtypes|length > 0 %}
                                        {% for rt in roomtypes %}
                                            <option value="{{ rt['roomTypeName'] }}">{{ rt['roomTypeName'] }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Status</label>
                            <div class="col-sm-9">
                                <select required class="form-control" name="status" id="edit-room-status">
                                    <option value="1">{{ statuses[1] }}</option>
                                    <option value="0">{{ statuses[0] }}</option>
                                    <option value="2">{{ statuses[2] }}</option>
                                    <option value="3">{{ statuses[3] }}</option>
                                    <option value="4">{{ statuses[4] }}</option>
                                    <option value="5">{{ statuses[5] }}</option>
                                    <option value="6">{{ statuses[6] }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align:center!important;">
                        <input type="hidden" name="oldnumber" id="edit-room-oldnumber">
                        <button id="room-edit-submit" type="submit" class="btn btn-primary">Edit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Edit room dialog -->

    <!-- Remove room dialog -->
    <div class="modal fade" id="delete-room-dialog" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="text-align:center!important;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="height: 10px;">&nbsp;</h4>
                </div>
                <div class="modal-body">
                    <p>{{ 'Do you really want to delete room "%s"?'|format('<span id="delete-room-number"></span>')|raw }}</p>
                </div>
                <div class="modal-footer" style="text-align:center!important;">
                    <form method="post" action="{{ path('manage_delete_room') }}" accept-charset="utf-8">
                        <input type="hidden" id="_method" name="_method" value="DELETE" />
                        <input type="hidden" name="number" id="delete-room-id">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Remove room dialog -->

{% endblock %}