{% extends 'common.twig' %}
{% block content %}

    <script>
        var destinations = [{{ destinations|raw }}];
        var startFrom = {{ hotels|length }};
        var inProgress = false;
        $(window).scroll(function() {
            if ($(window).scrollTop() + $(window).height() >= $(document).height() - 200 && !inProgress) {
                $.ajax({
                    url: '/search/morehotels',
                    method: 'POST',
                    data: {"startfrom": startFrom,
                        "checkindate": "{{ checkInDate }}",
                        "checkoutdate": "{{ checkOutDate }}",
                        "countryid":"{{ countryId }}",
                        "stateid":"{{ stateId }}",
                        "cityid":"{{ cityId }}"},
                    beforeSend: function () {
                        inProgress = true;
                        $("#search_loading").removeClass("hidden");
                    }
                }).done(function (data) {
                    if (data.length > 0) {
                        console.log(data);
                        var string = "";
                        var picture = null;
                        $.each(data, function (index, data) {
                            picture = data["picture"];
                            if (picture == null)
                                picture = '/img/hotels/placeholder.png';
                            string += '<div class="row">\
                                    <div class="panel panel-default">\
                                    <div class="panel-body" style="padding-top: 0px !important;">\
                                    <div class="row">\
                                    <div class="col-sm-2 text-center"  style="padding-right:0px;">\
                                    <img width="180px" height="180px" style="margin-top:15px;" class="img-thumbnail" src="'+picture+'">\
                                    </div>\
                                    <div class="col-sm-10">\
                                    <h3 style="margin-top: 10px !important;">' + data["name"] + '</h3>\
                                    <div class="text-primary " style="padding-left:0px;">\
                                    <h4 class="" style="margin-left:0px;padding-left:0px;">\
                                    Rooms available:\
                                    <span class="badge " style="">'+data['count']+'</span>\
                                    <span style="margin-left:5px;">from $'+ data['minPrice']+'</span>\
                            <button data-id="'+ data['hotelId'] +'" class="btn btn-primary search_reserve_hotel pull-right" style="margin-top:-7px;">Choose rooms <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button>\
                                    </h4>\
                                    <span class="clearfix"></span>\
                                    </div>\
                            <div>'+data["description"] +'</div>\
                            </div>\
                            </div>\
                            </div>\
                            </div>\
                            </div>';
                        });

                        $("#search_page_hotels").append(string);

                        $(".search_reserve_hotel").click(function (e) {
                            $("#search_reserve_form_id").val($(this).data('id'))
                            $("#search_reserve_form").submit();
                        });

                        inProgress = false;
                        $("#search_loading").addClass("hidden");
                        startFrom += data.length;
                    }
                    else {
                        // All hotels loaded!
                        $("#search_loading").addClass("hidden");
                    }
                });
            }
        });
    </script>
    <div class="container-fluid col-sm-3" id="search_filter_form">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Filtering form</span>
                </div>
                <div class="panel-body text-center">
                    <form action="{{ path('search') }}" method="post" id="main_page_form">
                        <label class="">Destination:</label>
                        <div class="form-group">
                            <div class="input-group center-block">
                                <input required autocomplete="off" type="text" name="destination" value="{{ destination }}" data-provide="typeahead" class="form-control typeahead-destination">
                                <script type="text/javascript">
                                    $(document).ready(function() {
                                        $(".typeahead-destination").typeahead({minLength: 1, source:destinations})
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="input-daterange" data-provide="datepicker">
                            <label class="">Dates:</label>
                            <div class="form-group">
                                <div class="input-group date" >
                                    <input  required type="text" class="form-control datepicker" name="checkindate" value="{{ checkInDate }}">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar pointer"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group date ">
                                    <input  required type="text" class="form-control datepicker" name="checkoutdate" value="{{ checkOutDate }}">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar pointer"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input required type="hidden" name="countryid">
                            <input required type="hidden" name="stateid">
                            <input required type="hidden" name="cityid">
                            <button id="main_page_submit" type="submit" class="btn btn-primary">Search now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-sm-8" style="margin-left:50px;" id="search_page_hotels">
        {% if hotels is null or hotels|length < 1 %}
            <h1>Woops!</h1>
            <h3>There're no hotels for the given dates :(</h3>
            <h3>Try another dates?</h3>
        {% endif %}
        {% for i in hotels %}
        <div class="row">
            <div class="panel panel-default search-result">
                <div class="panel-body" style="padding-top: 0px !important;">
                    <div class="row">
                        <div class="col-sm-2 text-center"  style="padding-right:0px;">
                            <img width="180px" height="180px" style="margin-top:15px;" class="img-thumbnail" src="{% if i['picture'] is null %}/img/hotels/placeholder.png{% else %}{{ i['picture'] }}{% endif %}">
                        </div>
                        <div class="col-sm-10">
                            <h3 style="margin-top: 10px !important;">{{ i['name'] }}</h3>
                            <div class="text-primary " style="padding-left:0px;">
                                <h4 class="" style="margin-left:0px;padding-left:0px;">
                                    Rooms available:
                                    <span class="badge " style="">{{ i['count'] }}</span>
                                    <span class="" style="margin-left:5px;">from ${{ i['minPrice'] }}</span>
                                    <button data-id="{{ i['hotelId'] }}" class="btn btn-primary search_reserve_hotel pull-right" style="margin-top:-7px;">Choose rooms <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button>
                                </h4>
                                <span class="clearfix"></span>
                            </div>
                            <div>{{ i['description'] }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <form method="post" action="{{ path('hotel') }}" accept-charset="utf-8" class="form-horizontal hidden" id="search_reserve_form">
        <input type="hidden" name="id" value="null" id="search_reserve_form_id">
        <input type="hidden" name="checkindate" value="{{ checkInDate }}">
        <input type="hidden" name="checkoutdate" value="{{ checkOutDate }}">
        <input type="hidden" name="cityid" value="{{ cityId }}">
        <input type="hidden" name="stateid" value="{{ stateId }}">
        <input type="hidden" name="countryid" value="{{ countryId }}">
        <input type="hidden" name="destination" value="{{ destination }}">
    </form>
    <div class="container col-sm-12 text-center hidden" style="margin-left:50px;" id="search_loading">
        <img width="50" src="/img/loading.gif"> Loading...
    </div>
    <script>
        $(document).ready(function() {
            jQuery(window).scroll(function () {
                if ($(window).height() < $(window).width() - 200)
                    $("#search_filter_form").stop().animate({marginTop: $(window).scrollTop()}, 'fast');
            });
            $(window).resize(function () {
                if ($(window).height() < $(window).width() - 200) {
                    $("#search_page_hotels").css('margin-left', '50px');
                }
                else {
                    $("#search_page_hotels").css('margin-left', '0px');
                    $("#search_filter_form").css('margin-top', '0px');
                }
            });
            $(".search_reserve_hotel").click(function (e) {
                $("#search_reserve_form_id").val($(this).data('id'))
                $("#search_reserve_form").submit();
            });
        });
    </script>

{% endblock %}